/* Colors */
:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --darkgray: rgb(15 23 42);

  --orange-50: rgb(255 247 237);
  --orange-100: rgb(255 237 213);
  --orange-200: rgb(254 215 170);
  --orange-300: rgb(253 186 116);
  --orange-400: rgb(251 146 60);
  --orange-500: rgb(249 115 22);
  --orange-600: rgb(234 88 12);
  --orange-700: rgb(194 65 12);
  --orange-800: rgb(154 52 18);
  --orange-900: rgb(124 45 18);

  /* Spacing */
  --space-0-5: 0.125rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-8: 2rem;

  /* Width */
  --mw-prose: 45rem;

  /* Font size */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;

  /* Border */
  --radius: 10px;
  --border-bottom: 4px solid var(--orange-500);
}

/* Global stylesheet */
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--orange-50);
  line-height: 1.5;
}

/**====================== Text ===============================**/

main {
  max-width: var(--mw-prose);
  margin: 0 auto;
}

li,
img {
  max-width: 100%;
}

p {
  margin-bottom: var(--space-4);
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--orange-900);
  margin-top: 0;
  margin-bottom: min(var(--space-4), 1em);
  line-height: 1.5;
}

main h1,
main h2,
main h3 {
  border-radius: var(--radius);
  border-bottom: var(--border-bottom);
  display: inline-block;
  padding: 2px;
}

/**====================== Links ===============================**/

a[href] {
  color: var(--orange-900);
}
a[href]:visited {
  color: var(--orange-900);
}

/**====================== Main content ===============================**/

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--orange-900);
}
header:after {
  content: "";
  display: table;
  clear: both;
}

header a:not(:hover),
.home a {
  text-decoration: none;
}

.home a {
  padding: var(--space-2);
  border-bottom: var(--border-bottom);
  border-radius: var(--radius);
}

.home {
  font-size: var(--text-base);
  margin: 0;
  padding: var(--space-4);
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  padding: var(--space-4);
  display: inline-block;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-sm);
  padding: var(--space-0-5) var(--space-1); /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--orange-700);
  background-color: var(--orange-100);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/**====================== Syntax highlighting ===============================**/

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 0.75rem;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  padding: 0.5rem !important;
  border-radius: 5px;
  margin: 0.5rem 0;
  background-color: #f6f6f6;
  text-decoration: none; /* override del, ins, mark defaults */
}
code {
  word-break: break-all;
}
